- const worldState = getState('com.twilioquest.developer-fundamentals.tower_of_knowledge');

conversation(display_name="Almanac of Flourishing Fundamentals")
  case lastResponse
    when "chapter_2"
      statement#chapter_2
      responses
        response#chapter_1.
          Chapter 1: Organizing Fundamentals

    when "chapter_1"
      statement#default
      responses
        response#chapter_2.
          Chapter 2: Tower Resources

    default
      statement#default
      responses
        response#chapter_2.
          Chapter 2: Tower Resources

  statements
    statement#default
      text.
        <span class="highlight">Book 3/4. Chapter 1: Organizing Fundamentals</span><br><br>
        While the Librarian was originally programmed only to source knowledge 
        related to software development, she quickly learned that organizing 
        it inside the Tower was just as important. She wanted new developers not 
        yet ready to learn programming concepts to have the tools to know how 
        to use their computers like a developer, before advancing to higher concepts.

    statement#chapter_1
      text.
        <span class="highlight">Book 3/4. Chapter 1: Organizing Fundamentals</span><br><br>
        While the Librarian was originally programmed only to source knowledge 
        related to software development, she quickly learned that organizing 
        it inside the Tower was just as important. She wanted new developers not 
        yet ready to learn programming concepts to have the tools to know how 
        to use their computers like a developer, before advancing to higher concepts.
        
    statement#chapter_2
      text.
        <span class="highlight">Book 3/4. Chapter 2: Tower Resources</span><br><br>
        That said, travelers to the Tower are free to visit floors in any order. 
        The Tower includes video cassettes related to each floor, 
        as well as specific paths through the files to guide the developer’s learning.<br><br>

        The Librarian has left books filled with constantly-updating history about the Tower. 
        Sometimes she uses these books like a diary, to express her fears (growing fears!) 
        that the <span class="highlight">Legacy Systems</span> has come to the Tower, 
        intending to steal some of its most sensitive resources...

- setState('com.twilioquest.developer-fundamentals.tower_of_knowledge', worldState);
