- const worldState = getState('com.twilioquest.developer-fundamentals.tower_of_knowledge');

conversation(display_name="The Librarian")
  case lastResponse
    when "what_is_place"
      statement#this_place
      responses
        response#how_learn.
          Wow! That's a lofty goal! Can I learn from some of your knowledge?

    default
      statement#default
      responses
        response#what_is_place.
          Thank you! What is this place?

  statements
    statement#default
      text.
        Greetings, developer! Welcome to <span class="highlight">The Tower of Infinite Knowledge!</span>
    statement#this_place
      text.
        <span class="highlight">The Tower of Infinite Knowledge</span> is an eternally expanding library.
        <br/><br/>
        As The Librarian, my goal is to contain all of the knowledge required to become a developer within its walls.


- setState('com.twilioquest.developer-fundamentals.tower_of_knowledge', worldState);
