- const worldState = getState('com.twilioquest.developer-fundamentals.tower_of_knowledge');

conversation(display_name="The Librarian")
  case lastResponse
    when "how_learn"
      statement#select_floor
      responses

    when "what_is_place"
      statement#this_place
      responses
        response#how_learn.
          That's a lofty goal! Can I learn from some of your knowledge?

    default
      statement#default
      responses
        response#what_is_place.
          Thank you! What is this place?

  statements
    statement#default
      text.
        Greetings, developer! Welcome to <span class="highlight">The Tower of Infinite Knowledge!</span>
    statement#this_place
      text.
        <span class="highlight">The Tower of Infinite Knowledge</span> is an eternally expanding library.
        <br/><br/>
        As The Librarian, my goal is to contain all of the knowledge required to become a developer within its walls.
    statement#select_floor
      text.
        Indeed it is! But it's a goal worth striving for.
        <br/><br/>
        The entire purpose of collecting knowledge is to share it with others. All my effort accumulating information would be a waste otherwise.
        <br/><br/>
        If you'd like to see what the library has to offer <span class="highlight">check the blue elevator control panel</span> just past me. You’ll also find book podiums scattered around the library, where I’ve documented the Tower’s history. You see, I’m also a bit of a Historian...


- setState('com.twilioquest.developer-fundamentals.tower_of_knowledge', worldState);
